yarn add @emailjs/browser prop-types react-simple-maps styled-components react three @react-three/fiber @react-three/drei 

npm i @react-spring/web @react-three/postprocessing
npm install react-scroll


# Steps to create 3d models
# https://www.youtube.com/watch?v=qALsVa-V9qo 
1. npm install -g gltf-pipeline
2. gltf-pipeline -i model.gltf -o modelDraco.gltf -d
3. npx gltfjsx model.gltf --transform